body{
    margin:0;
    overflow: hidden;
}
*{
    list-style: none;
    margin: 0;
    padding:0;
}
#canvas{
    position: relative;

}
.actions{
    position: fixed;
    left:0;
    bottom:0;
}
.actions{
    position: fixed;
    top:0;
    left:0;
    padding: 10px;
}
.actions svg{
    width:1.5em;
    height:1.5em;
    transform: all 1.5s;
    margin:0 10px;
}
.actions svg:hover{
    cursor: pointer;
}
.actions>#brush{
    display: none;
}
.actions.x>#brush{
    display: inline-block;
}
.actions.x>#eraser{
    display: none;
}
.actions svg.active{
    fill:red;
    transform: scale(1.2);
}

.colors{
    position: fixed;
    top:60px;
    left:0px;
    height:300px;
    width:100px;
    text-align: center;
}
.colors>li{
    width:40px;
    height:40px;
    border-radius: 50%;
    transition: all 0.5s;
    margin:10px auto;
}
.colors>li.black{
    background:black;   
}
.colors>li.green{
    background: green;
}
.colors>li.blue{
    background:blue;   
}
.colors>li.red{
    background:red;
}
.colors>li.active{
   transform: scale(1.2);
   box-shadow: 7px 3px 18px 0px rgba(50, 69, 50, 0.7);
}
.colors > li:hover{
    cursor: pointer;
}
.sizes{
    position:fixed;
    right:30px;
    top:30px;
    height:200px;
    width:100px;
}
.sizes > li{
    margin:40px 0;
    height:20px;
    width:50px;
    transition: all 0.5s;
}
.sizes > li:hover{
    cursor: pointer;
}
.sizes > li.active{
   transform: scale(1.2);
   box-shadow: 7px 3px 18px 0px rgba(50, 69, 50, 0.7);
}
.sizes>.thin{
    height:0;
    width:20px;
    border-top:5px solid black;
}
.sizes>.thick{
    height:0;
    width:20px;
    border-top:10px solid black;
}
.sizes>.thick2{
    height:0;
    width:20px;
    border-top:12px solid black;
}
